<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat:wght@300;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/552ebddad2.js"></script>
  <title>Searching Roomie</title>
</head>

<body>
  <div class="container">
    <header class="headerPrimary">
      <div class="logo logoHeader">
        <a href="">
          <img src="./images/logo.png" alt="Logo Searching Roomie">
        </a>
      </div>
      <nav class="navHeader">
        <ul>
          <li><a href="#">Iniciar sesión</a></li>
          <li><a href="#">Crear cuenta</a></li>
        </ul>
      </nav>
    </header>
    <div class="search">
      <form>
        <div>
          <label for="">¿Dónde te gustaría vivir?</label>
          <input class="searchInput" type="text" placeholder="México, CDMX">
        </div>
        <div>
          <label for="">Presupuesto máximo</label>
          <input class="searchInput" type="text" placeholder="$2000">
        </div>
        <button>Buscar</button>
      </form>
    </div>

    <section class="principal">
      <div>
        <div class="line"></div>
        <h2>Alojamientos populares</h2>
      </div>
      <div class="principal__rooms-card">
        <div class="room-card">
          <div>
            <figure>
              <img src="https://images.ctfassets.net/8lc7xdlkm4kt/6bYolzLQSPgZawCDlHb9qr/ca35368f17fc3143fe969c9b074a73de/mint-apartamentos-barranquilla-sala.jpg?w=1366&q=100" alt="">
            </figure>
          </div>
          <div class="description__dept">
            <figure class="img__user">
              <img src="https://t1.pb.ltmcdn.com/es/posts/5/9/7/la_psicologia_de_los_colores_en_las_fotos_de_perfil_3795_1_600.jpg" alt="">
            </figure>
            <article>
              <figure>
                <img src="./images/wifi.png" alt="">
              </figure>
              <figure>
                <img src="./images/botella-de-pet.png" alt="">
              </figure>
              <figure>
                <img src="./images/fumar.png" alt="">
              </figure>
              <figure>
                <img src="./images/departamento.png" alt="">
              </figure>
            </article>
          </div>
        </div>
        <div class="room-card">
          <div>
            <figure>
              <img src="https://images.ctfassets.net/8lc7xdlkm4kt/6bYolzLQSPgZawCDlHb9qr/ca35368f17fc3143fe969c9b074a73de/mint-apartamentos-barranquilla-sala.jpg?w=1366&q=100" alt="">
            </figure>
          </div>
          <div class="description__dept">
            <figure class="img__user">
              <img src="https://t1.pb.ltmcdn.com/es/posts/5/9/7/la_psicologia_de_los_colores_en_las_fotos_de_perfil_3795_1_600.jpg" alt="">
            </figure>
            <article>
              <figure>
                <img src="./images/wifi.png" alt="">
              </figure>
              <figure>
                <img src="./images/botella-de-pet.png" alt="">
              </figure>
              <figure>
                <img src="./images/fumar.png" alt="">
              </figure>
              <figure>
                <img src="./images/departamento.png" alt="">
              </figure>
            </article>
          </div>
        </div>
        <div class="room-card">
          <div>
            <figure>
              <img src="https://images.ctfassets.net/8lc7xdlkm4kt/6bYolzLQSPgZawCDlHb9qr/ca35368f17fc3143fe969c9b074a73de/mint-apartamentos-barranquilla-sala.jpg?w=1366&q=100" alt="">
            </figure>
          </div>
          <div class="description__dept">
            <figure class="img__user">
              <img src="https://t1.pb.ltmcdn.com/es/posts/5/9/7/la_psicologia_de_los_colores_en_las_fotos_de_perfil_3795_1_600.jpg" alt="">
            </figure>
            <article>
              <figure>
                <img src="./images/wifi.png" alt="">
              </figure>
              <figure>
                <img src="./images/botella-de-pet.png" alt="">
              </figure>
              <figure>
                <img src="./images/fumar.png" alt="">
              </figure>
              <figure>
                <img src="./images/departamento.png" alt="">
              </figure>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="modal__register">

  </div>
  <footer class="Footer">
    <div class="Footer__logo">
      <p><span>Vive</span> donde tus</p>
      <p><span>sueños</span> sucedan</p>
    </div>
    <div class="Footer__image">
      <img src="./images/toa-heftiba-xLUwi3yDNb0-unsplash.png" alt="">
    </div>
  </footer>
</body>
</html>